:root {
    --footer_ht: 60px;
}    
/* Main page styles */
body {
    background-color: #404040;
    color: #0AC8FF;
    margin: 12px;
}

/* Class Styles */

/* Header Styles */
.header {
    text-align: center;
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration-line: underline;
}

/* Navigation Menu Styles */
.navbar_main {
    position: sticky;
    list-style-type: none;
    z-index: 1;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #ffffff;
    border-radius: 2px 2px 0 0;
}
/* Nav bar link styles */
.navbar_main a {
    float: left;
    display: inline-block;
    padding: 10px 40px;
    text-align: center;
    color: var(body(color));
}
.navbar_main a:hover {
    background-color: #c4c4c4;
    color: #e1e1e1;
}


/* Content Styles */

.content_wrapper {
    position: relative;
    overflow: auto;
    background-color: #cbcbcb;
    width: auto;
    min-height: 100%;
    padding-bottom: var(--footer_ht);
    border-radius: 0 0 2px 2px;
}

.content {
    text-align: center;
    color: black;
}

.contentFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer_ht);
    border-top: solid 1px #fffffa;
    text-align: center;
    
}
