:root {
    --footer_ht: 30px;
}    
/* Main page styles */
body {
    background-color: #404040;
    color: #0AC8FF;
    margin: 12px;
}

/* Class Styles */

/* Header Styles */
.header {
    text-align: center;
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration-line: underline;
}

/* Navigation Menu Styles */
.navbar_main {
    position: sticky;
    list-style-type: none;
    white-space: nowrap;
    z-index: 1;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: none;
    background: #fffffa;
    border-radius: 2px 2px 0 0;
    color: #404040;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Nav bar link styles */
.navbar_main li {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    color: var(body(color));
}

.navbar_main li:hover {
    background-color: #0AC8FF;
    color: #fffffa;
}
.active {
    background-color: #0AC8FF;
    color: #fffffa;
    text-decoration: underline;
}


/* Content Styles */

.content_wrapper {
    position: relative;
    overflow: auto;
    background-color: #cbcbcb;
    width: auto;
    min-height: 100%;
    padding-bottom: var(--footer_ht);
    border-radius: 0 0 2px 2px;
}

.content {
    text-align: center;
    color: #404040;
}

.contentFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer_ht);
    border-top: solid 1px #404040;
    background: #fffffa;
    text-align: center;
    display: inline-grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    column-gap: 30px;
}
