:root {
    --scale_size: 20px;
    --scale_standard: 2;
    --scale_move: 2.5;
    --bg_transition_speed: 10s;
    --bg_opacity: 0.2;
    --bg_base_color: #202020;
    --bg_alt_color: #00600d ;
    --red: #FC3A3A;
    --blue: #0AC8FF;
    --green: rgb(16, 217, 139);
    --dark: #303030;
    --light: #f5f5f5;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg_base_color);
    margin: 0;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}
.wallpaper {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: 
        linear-gradient(45deg, var(--bg_base_color) 25%, transparent 25%, transparent 75%, var(--bg_base_color) 75%, var(--bg_base_color)), 
        linear-gradient(45deg, var(--bg_base_color) 25%, transparent 25%, transparent 75%, var(--bg_base_color) 75%, var(--bg_base_color)), 
        linear-gradient(to bottom, var(--bg_base_color), var(--bg_alt_color));
    background-size: 
        var(--scale_size) var(--scale_size), 
        var(--scale_size) var(--scale_size), 
        var(--scale_size) calc(var(--scale_size)/var(--scale_standard));
    background-position: 
        0px 0px, 
        calc(var(--scale_size)/var(--scale_standard)) calc(var(--scale_size)/var(--scale_standard)), 
        0px 0px;
    opacity: var(--bg_opacity);
    animation: gradient var(--bg_transition_speed) linear infinite;
}
section {
    display: block;
}
header {
    margin-top: 0;
    padding: 0px;
}
footer {margin: auto;
    min-height: 200px;
    max-width: 30%;
    background-color: var(--dark);
}

.navbar ul {
    list-style-type: decimal;
    margin: 0;
    margin-bottom: 100px;
    padding: 0;
    overflow: hidden;
    opacity: 1;
}
.navbar li {
    float: left;
    display: inline;
    animation: 2s linear navbar;
    animation-fill-mode: both;
}
.navbar li:nth-child(1) {
    animation-delay: 0s;
}
.navbar li:nth-child(2) {
    animation-delay: 0.1s;
}
.navbar li:nth-child(3) {
    animation-delay: 0.2s;
}
.navbar li:nth-child(4) {
    animation-delay: 0.3s;
}
.navbar li :hover {
    border-radius: 5px;
    background-color: var(--dark);
    color: var(--green);
    font-family:monospace;
}
.navbar li :hover::before {
    content: "root@";
}
.navbar li :hover::after {
    content: ":";
    margin-left: 2px;
    width: 10px;
    height: 20px;
    background: var(--green);
    display: inline-block;
    animation: cursor_blink 1s ease infinite;
}
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16pt;
    padding: 20px 60px;
}
/*
section {
    
}
*/
.section_content {
    padding: 50px 0px;
    max-width: 65%;
    margin: auto;
    margin-bottom: 100px;
    min-height: 500px;
    padding: 50px;
    border-radius: 10px;
    background-color: var(--dark);
    color: var(--light);
    animation: from_left 2s linear;
    animation-fill-mode: both;
}
#home_content {
    animation-delay: 0s;
}
#about_content{
    animation-delay: 0.5s;
}
#project_content {
    animation-delay: 1s;
}
#skills_content {
    animation-delay: 1.5s;
}

.card_container {
    margin: 0 -5px;
}
.card_container:after {
    content: "";
    display: table;
    clear: both;
}
.card_column {
    float: left;
    width: 30%;
    min-width: 400px;
    padding: 0 20px;
    margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
    .card_column {
        width: 100%;
        display: block;
    }
}
.card {
    border-radius: 8px;
    border: solid 2px var(--green);
    box-shadow: 4px 2px 2px var(--green,0.5);
    background-color: var(--dark);
    color: var(--light);
    opacity: 0.9;
    transition: 0.5s;
}
.card:hover {
    box-shadow: 12px 6px 6px var(--green,0.1);
    opacity: 1;
}
.card_img {
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}
.card_description {
    margin: 0;
    padding: 5px 5px;
    width: 100%;
    min-height: 50px;
    border-top: solid 1px var(--green);
}


/* Side Content */
.sidebar {
    display: block;
    list-style-type: none;
    align-items: center;
}

.sidebar a {
    display: block;
    padding-bottom: 24px;
    text-decoration: none;
}
.sidebar li {
    animation: from_bottom 2s linear;
    animation-fill-mode: both;
}
.sidebar li:nth-child(1) {
    animation-delay: 2s;
}
.sidebar li:nth-child(2) {
    animation-delay: 2.5s;
}
.sidebar li:nth-child(3) {
    animation-delay: 3s;
}
.sidebar li:nth-child(4) {
    animation-delay: 3.5s;
}

.side_content {
    opacity: 1;
    width: 20px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    color: #fffffa;
}
.side_content::after {
    content: "";
    display: block;
    width: 3px;
    height: 200px;
    margin: 10px auto;
    background-color: var(--light);
    animation: from_bottom 2s linear;
}

/* Bottom of Page */
.navigate_top {
    margin: 0;
    animation: nav_arrow 2s ease-in infinite;
}
.arrow {
    height: 10px;
    width: 10px;
    margin: auto;
    border: solid #f5f5f5;
    border-width: 0 5px 5px 0;
    border-color: var(--green);
    padding: 10px;
    transform: rotate(-135deg);    
}



/*
/* ANIMATIONS */


@keyframes gradient {
    0%      {
            background-image: 
            linear-gradient(45deg, var(--bg_base_color) 25%, transparent 25%, transparent 75%, var(--bg_base_color) 75%, var(--bg_base_color)), 
            linear-gradient(45deg, var(--bg_base_color) 25%, transparent 25%, transparent 75%, var(--bg_base_color) 75%, var(--bg_base_color)), 
            linear-gradient(to bottom, var(--bg_base_color), var(--bg_alt_color));;
            }
    25%     {
            background-image: 
            linear-gradient(45deg, var(--bg_base_color) 25%, transparent 25%, transparent 75%, var(--bg_base_color) 75%, var(--bg_base_color)), 
            linear-gradient(45deg, var(--bg_base_color) 25%, transparent 25%, transparent 75%, var(--bg_base_color) 75%, var(--bg_base_color)), 
            linear-gradient(to bottom, var(--bg_base_color), var(--bg_alt_color));
            }
    50%     {
            background-image: 
            linear-gradient(45deg, var(--bg_base_color) 25%, transparent 25%, transparent 75%, var(--bg_base_color) 75%, var(--bg_base_color)), 
            linear-gradient(45deg, var(--bg_base_color) 25%, transparent 25%, transparent 75%, var(--bg_base_color) 75%, var(--bg_base_color)), 
            linear-gradient(to bottom, var(--bg_base_color), var(--bg_alt_color));
            background-position: 
            0px 0px, 
            calc(var(--scale_size)/var(--scale_move)) calc(var(--scale_size)/var(--scale_move)), 
            0px 0px;
            }
    75%     {
            background-image: 
            linear-gradient(45deg, var(--bg_base_color) 25%, transparent 25%, transparent 75%, var(--bg_base_color) 75%, var(--bg_base_color)), 
            linear-gradient(45deg, var(--bg_base_color) 25%, transparent 25%, transparent 75%, var(--bg_base_color) 75%, var(--bg_base_color)), 
            linear-gradient(to bottom, var(--bg_base_color), var(--bg_alt_color));
            }
    100%    {
            background-image: 
            linear-gradient(45deg, var(--bg_base_color) 25%, transparent 25%, transparent 75%, var(--bg_base_color) 75%, var(--bg_base_color)), 
            linear-gradient(45deg, var(--bg_base_color) 25%, transparent 25%, transparent 75%, var(--bg_base_color) 75%, var(--bg_base_color)), 
            linear-gradient(to bottom, var(--bg_base_color), var(--bg_alt_color));
            }
}



/* Nav */
@keyframes navbar {
    0% {transform: translateY(-100%);opacity: 0.1;}
    90% {transform: translateY(0);opacity: 0.2;}
    100% {transform: translateY(0);}
}
@keyframes cursor_blink {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
/* Section */
@keyframes from_left {
    0% {transform: translateX(-100%);opacity: 0;}
    90% {transform: translateX(0);opacity: 0.1;}
    100% {transform: translateX(0);}
}
/* Side Links */
@keyframes from_bottom {
    0% {transform: translateY(100%);opacity: 0;}
    90% {transform: translateY(0);opacity: 0.1;}
    100% {transform: translateY(0);}
}
/* Arrow */
@keyframes nav_arrow {
    0% {transform: translateY(0%);opacity: 0.1;}
    25% {transform: translateY(-25%);opacity: 0.3;}
    50% {transform: translateY(-50%);opacity: 1;}
    75% {transform: translateY(-25%);opacity: 0.3;}
    100% {transform: translateY(0%);opacity: 0.1;}
}





/* Loader */
.content_up {
    width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid green;
    position: absolute;
    margin: auto;
    animation: load_animation_up 3s infinite;
}
.content_down {
    width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid green;
    position: absolute;
    margin: auto;
    animation: load_animation_down 3s infinite;
}
.content_right {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid green;
    position: absolute;
    margin: auto;
    animation: load_animation_right 3s infinite;
}
.content_left {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid green;
    position: absolute;
    margin: auto;
    animation: load_animation_left 3s infinite;
}
@keyframes load_animation_up {
    0%      {
            border-bottom: 30px solid #10D98B;
            top: 5px;
            }
    50%     {
            border-bottom: 30px solid #606060;
            opacity: 0.1;
            top: 10px;
            }
    100%    {
            border-bottom: 30px solid #10D98B;
            top: 5px;
            }
}
@keyframes load_animation_down {
    0%      {
            border-top: 30px solid #10D98B;
            top: 5px;
            }
    50%     {
            border-top: 30px solid #606060;
            opacity: 0.1;
            top: 10px;
            }
    100%    {
            border-top: 30px solid #10D98B;
            top: 5px;
            }
}
@keyframes load_animation_right {
    0%      {
            border-left: 30px solid #10D98B;
            left: 5px;
            }
    50%     {
            border-left: 30px solid #606060;
            opacity: 0.1;
            left: 10px;
            }
    100%    {
            border-left: 30px solid #10D98B;
            left: 5px;
            }
}
@keyframes load_animation_left {
    0%      {
            border-right: 30px solid #10D98B;
            right: 5px;
            }
    50%     {
            border-right: 30px solid #606060;
            opacity: 0.1;
            right: 10px;
            }
    100%    {
            border-right: 30px solid #10D98B;
            right: 5px;
            }
}
